<div style="display: flex; max-width: 600px; justify-content: space-between;">
  <div class="left">
    <div>
      <label for="from">from</label>
      {{input id="from" value=from type="date"}}
    </div>

    <div>
      <label for="to">to</label>
      {{input id="to" value=to type="date"}}
    </div>

    <fieldset>
      <legend>pick a unit</legend>
      <label>
        <input name='unit' type='radio' {{action (mut unit) 'months' on='change'}} checked=true />
        months
      </label>
      <label>
        <input name='unit' type='radio' {{action (mut unit) 'days' on='change'}} />
        days
      </label>
      <label>
        <input name='unit' type='radio' {{action (mut unit) 'hours' on='change'}} />
        hours
      </label>
      <label>
        <input name='unit' type='radio' {{action (mut unit) 'minutes' on='change'}} />
        minutes
      </label>
      <label>
        <input name='unit' type='radio' {{action (mut unit) 'seconds' on='change'}} />
        seconds
      </label>
    </fieldset>
  </div>

  <div class="right">
    {{#count-down from=(if useNow (now) from) to=to as |counter|}}
      {{counter.remaining unit=unit}} {{unit}}
    {{/count-down}}
  </div>
</div>
